@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----- | CSS RESET | ---------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- | GENERAL STYLES | ----------------------------- */
html { font-family: 'poppins', sans-serif; }

header {
    background: linear-gradient(to left, #2953a7, #0b2049);
}

li { list-style: none; }

.nav-item a {
    color: white;
    text-decoration: none;
}

img { display: block; }

.meandros {
    display: flex;
    background-image: url(./assets/other-graphics/meandros.png);
    background-repeat: round;
    background-size: contain;
}


/* ----- | HEADER SECTION | ----------------------------- */
.navbar {
    min-height: 70px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.divider {
    color: white;
    font-weight: bold;
}

.logo {
    width: 12%;
    padding: 5px;
    z-index: 99;
}

.nav-link {
    transition: 0.3s ease;
    font-size: 1.1rem;
} 

.nav-link:hover { color: yellow; }

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* ----- | MEDIA QUERIES / 685px | ------------------------------ */
@media(max-width: 685px) {
    .logo {
        width: 18%;
    }
    
    .hamburger {
        display: block;
    }
    
    .divider {
        display: none;
    }
    
    /* When icon is clicked, bars make an 'x' */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    
    /*Hides menu once width shrinks to 685px */
    /* Menu parameters are ready once active */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background: linear-gradient(to left, #2953a7, #0b2049);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 98; /* tells broswer to render over deorum logo */
    }
    
    .nav-item { margin: 16px 0; }
    
    /* menu behavior once icon is active */
    .nav-menu.active {
        left: 0;
    }
}
