@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----- | CSS RESET | ---------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----- | GENERAL STYLES | ----------------------------- */
html { font-family: 'poppins', sans-serif; }

header {
    background: linear-gradient(to left, #2953a7, #0b2049);
}

li { list-style: none; }

.nav-item a {
    color: white;
    text-decoration: none;
}

img { display: block; }

.meandros {
    display: flex;
    background-image: url(./assets/other-graphics/meandros.png);
    background-repeat: round;
    background-size: contain;
}


/* ----- | HEADER SECTION | ----------------------------- */
.navbar {
    min-height: 70px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.divider {
    color: white;
    font-weight: bold;
}

.logo {
    width: 12%;
    padding: 5px;
    z-index: 99;
}

.nav-link {
    transition: 0.3s ease;
    font-size: 1.1rem;
} 

.nav-link:hover { color: yellow; }

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* ----- | SECTION ONE | -------------------------------- */
.section-one-container {
    background-image: linear-gradient(rgba(119, 30, 30, 0.7), rgba(255, 0, 0, 0.7)), url(./assets/other-graphics/mosaic-floor-panel-google-art-project.jpg);    
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 5px 5px 10px #000;

}

.deorum-logo {
    filter: drop-shadow(5px 5px 10px #000);
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 10px #000);
    margin-bottom: 20px;

}

.legion-art {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0b2049;
    width: 65%;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* ----- | SECTION TWO | -------------------------------- */
.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
}

.book-profile {
    width: 65%;
}

.book-row {
    display: flex;
}

.book-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.book-col p {
    font-size: 1.2rem;
}

.book-item a {
    color: black;
    text-decoration: none;
}

.book-item a:hover {
    cursor: pointer;
    color: firebrick;
}

.get-copy {
    background-color: red;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 7px #333;
}

.get-copy:hover {
    background-color: #0b2049;
}


/* ----- | FOOTER SECTION | ----------------------------- */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    text-align: center;
    font-size: small;
    color: white;
    background: linear-gradient(#2953a7, #0b2049);
    gap: 5px;
}

.center-image {
    display: flex;
    justify-content: center;
}


/* ----- | BOOK PAGES | ------------------------------ */
.book-cover {
    width: 65%;
    filter: drop-shadow(5px 5px 10px #000);
}

.book-container {
    background-image: linear-gradient(rgba(119, 30, 30, 0.7), rgba(255, 0, 0, 0.7)), url(./assets/other-graphics/mosaic-floor-panel-google-art-project.jpg);    
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

.book-container h2 {
    color: white;
    text-shadow: 5px 5px 10px #000;
}

.free-chapter,
.home-button {
    background-color: #0b2049;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 7px #333;
}

.free-chapter:hover,
.home-button:hover {
    background-color: #f1b900;
    color: #333;
    text-shadow: none;
}

.button-group {
    display: flex;
    margin: 15px 0 30px 0;
    gap: 10px;
}


/* ----- | MEDIA QUERIES / 300px | ------------------------------ */
@media(max-width: 300px) {
    .logo {
        width: 50%;
    }

    h1 {
        font-size: 1rem;
    }
}


/* ----- | MEDIA QUERIES / 400px | ------------------------------ */
@media(max-width: 400px) {
    .button-group {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 15px;
    }
}


/* ----- | MEDIA QUERIES / 685px | ------------------------------ */
@media(max-width: 685px) {
    .logo {
        width: 18%;
    }
    
    .hamburger {
        display: block;
    }
    
    .divider {
        display: none;
    }
    
    /* When icon is clicked, bars make an 'x' */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    
    /*Hides menu once width shrinks to 685px */
    /* Menu parameters are ready once active */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background: linear-gradient(to left, #2953a7, #0b2049);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 98; /* tells broswer to render over deorum logo */
    }
    
    .nav-item { margin: 16px 0; }
    
    /* menu behavior once icon is active */
    .nav-menu.active {
        left: 0;
    }

    h1 {
        font-size: 1.2rem;
    }

    .deorum-logo {
        width: 50%;
    }

    .legion-art {
        width: 95%;
    }

    .text-container {
        width: 95%;
    }
}


/* ----- | MEDIA QUERIES / 700px | ------------------------------ */
@media(min-width: 700px) {
    .book-cover {
        width: 40%;
    }
}
